.headerContainer{
    width: calc(100vw - 500px);
    height: 80px;
    margin: 0px 250px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
}

.headerContainer .logo{
    width: 80px;
    height: 80px;
    font-family: "Fira Code", sans-serif;
    font-size: 52px;
    background-color: #005D6D;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer nav ul{
    height: 80px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.headerContainer nav ul li{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 24px;
    width: max-content;
}

.headerContainer nav ul li a{
    text-decoration: none;
    color: #FFF;
}